extends layout

block elements
  .whole-wrap
    .container
      .section-top-border
        h3.mb-30 About Solved.
        .row
          .col-lg-12
            blockquote.generic-blockquote
              | This is a project created by Jasmine Quah and Szymon Kobus as part of Facebook's Hack-A-Project programme for 2018. We aimed to create a website enabling visualisation of applications of technology in different fields and promoting cross-discipline transfer of ideas, linking existing technology not conventionally used in this area to unsolved problems. To do this, Solved. provides a platform for people to discover technologies they may be unfamiliar with, as well as a way to communicate with experts in given fields, to encourage interdisciplinary collaboration.
    .container
      h3.text-heading The Creators
      p.sample-text
        | Jasmine is a second year Computing student at Imperial College London, and Szymon is a second year Electrical and Information Engineering student also at Imperial College London.
      p.sample-text
        | To find out more about us, view our profiles below.
      br
      br

  // Jasmine Profile
  section#project.project-area.section-gap
    .container
      .row.d-flex.justify-content-center
        .menu-content.pb-30.col-lg-8
          .title.text-center
            h1.mb-10 Jasmine Quah
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              br
              |  labore  et dolore magna aliqua.
      .row.justify-content-center.d-flex
        .active-works-carousel.mt-40.col-lg-8
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.

  // Szymon Profile
  section#project.project-area.section-gap
    .container
      .row.d-flex.justify-content-center
        .menu-content.pb-30.col-lg-8
          .title.text-center
            h1.mb-10 Szymon Kobus
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              br
              |  labore  et dolore magna aliqua.
      .row.justify-content-center.d-flex
        .active-works-carousel.mt-40.col-lg-8
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
          .item
            img.img-fluid(src='/images/why.jpg', alt='')
            .caption.text-center.mt-20
              h6.text-uppercase Vector Illustration
              p
                | LCD screens are uniquely modern in style, and the liquid crystals that make them work have
                br
                |  allowed humanity to create slimmer, more portable technology.
  |  -->
  // End project Area
