extends wrapper

block content
  // Start banner Area
  section.generic-banner.relative
    // Start Header Area
    header.default-header
      nav.navbar.navbar-expand-lg.navbar-light
        .container
          a.navbar-brand(href='index.html')
            img(src='/images/logo.png', alt='')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.text-white.lnr.lnr-menu
          #navbarSupportedContent.collapse.navbar-collapse.justify-content-end.align-items-center
            ul.navbar-nav
              li
                a(href='/') Home
              li
                a(href='/technology') Explore Technologies
              li
                a(href='/discussion') Community
              li
                a(href='/about') About
              if logged_in
                li
                  a(href='/users/profile/#{username}') My Profile
                li
                  a(href='/users/logout') Logout
              else
                li
                  a(href='/users/login') Login
                li
                  a(href='/users/register') Register
    // End Header Area
    .container
      .row.height.align-items-center.justify-content-center
        .col-lg-10
          .generic-banner-content
            h2.text-white #{title}
            p.text-white #{description}
  // End banner Area

  block elements
