extends layout

block content
  h2.page-header Login
  form(method='post', action='/users/login')
    .form-group
     label User name
     input.form-control(name='name', type='text', placeholder='Enter user name')
    .form-group
     label Password
     input.form-control(name='password', type='password', placeholder='Enter password')
    input.btn.btn-primary(type= 'submit', name='submit', value ='Login')
