extends layout

block elements
  .row.d-flex.justify-content-center
    .menu-content.pb-60.col-lg-8
      .title.text-center
        h1.mb-10 Please enter your user details.
        | Want an account? #{' '}
        a(href='/users/register') Register.
  form#myForm.form-area(action='/users/login', method='post')
    .col-lg-6.form-group.content-csers
      label User name
        input.common-input.mb-20.form-control(name='username', type='text', requiredplaceholder='Enter your username', onfocus="this.placeholder = ''", onblur="this.placeholder='Enter your username'")
      br
      label Password
        input.common-input.mb-20.form-control(name='password', type='password', required placeholder='Enter password', onfocus="this.placeholder = ''", onblur="this.placeholder='Enter your password'")
      button.primary-btn.mt-20.ml-30(type='submit')
        | Login
        span.lnr.lnr-arrow-right
      .alert-msg
