extends layout

block elements
  div.page-header.text-center
    if user && user.local.username==user_data.local.username
      a.button.primary-btn.mt-20(href='/users/logout')
        | Logout
        span.lnr.lnr-arrow-right

  div.row
    div.col-sm-6
      h3
        span.fa.fa-user
        |  Local
      p
        strong Username: #{user_data.local.username}
      p
        strong Password: #{user_data.local.password}
