extends layout

block elements
  div.page-header.text-center
    h1
      span.fa.fa-anchor
      |  Welcome to #{user_data.local.username}'s profile!
    a.btn.btn-info.btn-sm(href='/users/logout') Logout

  div.row
    div.col-sm-6
      h3
        span.fa.fa-user
        |  Local
      p
        strong Username: #{user_data.local.username}
      p
        strong Password: #{user_data.local.password}
