extends layout

block content
  div.col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-sign-in-alt
      |  Register
    form(action='/users/register', method='post')
      div.form-group
        label User name
        input.form-control(name='username', type='text', required placeholder='Enter user name')
      div.form-group
        label Password
        input.form-control(name='password', type='password', required placeholder='Enter password')
      button.btn.btn-info.btn-lg(type='submit') Sign me up!
    hr

    p Already have an account? #{' '}
      a(href='/users/login') Login.
    p Or go #{' '}
      a(href='/') Home.
