extends layout

block content
  div.page-header.text-center
    h1
      span.fa.fa-anchor
      |  Welcome to #{tech_data.name}!

  div.row
    div.col-sm-6
      h3
        span.fa.fa-user
        |  Local
      p
        strong Name: #{tech_data.name}
      p
        strong Parents: #{tech_data.parents}
      p
        each child, i in tech_data.children
          strong Children: #{child}
          br
