extends layout

block elements
  div.page-header.text-center
    h1
      | #{tech_data.name}

  div.row
    div.col-sm-6
      p
        strong Name: #{tech_data.name}
      p
        strong Parents: #{tech_data.parents}
      p
        each child, i in tech_data.children
          strong Children: #{child}
          br
